<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% include "partials/meta.html" %}

        <title>{% block title %}{{ site_title }}{% endblock %}</title>

        <link rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>
        <div class="container">
            {% include "partials/header.html" %}

            <main class="content">
                {% block content %}
                <p>Default content</p>
                {% endblock %}
            </main>

            {% include "partials/footer.html" %}
        </div>

        {% block scripts %}{% endblock %}
    </body>
</html>
